
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 80px;
  border: 1px solid #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}
.header-container{
  display: flex;
  gap: 40px;
  
}
.webstudio{
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: #2196F3;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  
}
.header-nav-ul{
  display: flex;
}
.header-main-tel{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  font-weight: 500;
  font-size: 14px;
}
/* Propiedades generales */
li {
  list-style: none;
}
a {
  color: rgba(33, 33, 33, 1);
  text-decoration: none;
}
